# Build output
bin/
obj/
[Bb]uild/
[Ll]og/
[Tt]est[Rr]esult*/

# VS
.vs/
*.user
*.suo

# Rider / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Publish artifacts
*.zip
*.exe
*.msi

# dotnet
*.nupkg
project.lock.json

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Other
*.cache
*.psess
*.vsp
*.vspx
